<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookrepo</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>

    <div class="header">
        <h1>BOOKREPO</h1>
    </div>

    <div class="menu">
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/books">Książki</a></li>
        </ul>
    </div>

    <div class="contentHeader"><h2>Strona główna</h2></div>

    <div class="container">

        <div class="main">
            <h3>Witam na stronie głównej Bookrepo!</h3>
        </div>

    </div>

</body>
</html>